<html lang="en"><head></head><body><form id="mainForm" method="post" action="http://plnkr.co/edit/?p=preview" target="_self"><input type="hidden" name="files[app/data.service.js]" value="(function(app) {

  function DataService() {
  }
  DataService.annotations = [
    new ng.core.Injectable()
  ];
  DataService.prototype.getHeroName = function() {
    return 'Windstorm';
  };
  app.DataService = DataService;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-di-inject-additional.component.js]" value="(function(app) {

  var TitleComponent = ng.core.Component({
    selector: 'hero-title',
    template:
      '<h1>{{titlePrefix}} {{title}}</h1>' +
      '<button (click)=&quot;ok()&quot;>OK</button>' +
      '<ng-content></ng-content>'
  }).Class({
    constructor: [
      [
        new ng.core.Optional(),
        new ng.core.Inject('titlePrefix')
      ],
      new ng.core.Attribute('title'),
      [
        new ng.core.Query('okMsg'),
        ng.core.ElementRef
      ],
      function(titlePrefix, title, msg) {
        this.titlePrefix = titlePrefix;
        this.title  = title;
        this.msg = msg;
      }
    ],
    ok: function() {
      var msgEl =
        this.msg.first.nativeElement;
      msgEl.textContent = 'OK!';
    }
  });

  var AppComponent = ng.core.Component({
    selector: 'hero-di-inject-additional',
    template: '<hero-title title=&quot;Tour of Heroes&quot;>' +
      '<span #okMsg class=&quot;ok-msg&quot;></span>' +
    '</hero-title>',
    directives: [TitleComponent]
  }).Class({
    constructor: function() { }
  });

  app.HeroDIInjectAdditionalComponent = AppComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-di-inject.component.js]" value="(function(app) {

  function HeroComponent(name) {
    this.name = name;
  }
  HeroComponent.parameters = [
    'heroName'
  ];
  HeroComponent.annotations = [
    new ng.core.Component({
      selector: 'hero-di-inject',
      template: '<h1>Hero: {{name}}</h1>'
    })
  ];

  app.HeroDIInjectComponent = HeroComponent;
  
})(window.app = window.app || {});

(function(app) {
  var HeroComponent = ng.core.Component({
    selector: 'hero-di-inline2',
    template: '<h1>Hero: {{name}}</h1>'
  })
  .Class({
    constructor:
      [new ng.core.Inject('heroName'), 
       function(name) {
         this.name = name;
       }]
  });

  app.HeroDIInjectComponent2 = HeroComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-di-inline.component.js]" value="(function(app) {
  var HeroComponent = ng.core.Component({
    selector: 'hero-di-inline',
    template: '<h1>Hero: {{name}}</h1>'
  })
  .Class({
    constructor:
      [app.DataService, 
       function(service) {
         this.name = service.getHeroName();
       }]
  });
  app.HeroDIInlineComponent = HeroComponent;
})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-di.component.js]" value="(function(app) {

  app.HeroDIComponent = HeroComponent;
  
  function HeroComponent(dataService) {
    this.name = dataService.getHeroName();
  }
  HeroComponent.parameters = [
    app.DataService
  ];
  HeroComponent.annotations = [
    new ng.core.Component({
      selector: 'hero-di',
      template: '<h1>Hero: {{name}}</h1>'
    })
  ];

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-dsl.component.js]" value="(function(app) {

  var HeroComponent = ng.core.Component({
      selector: 'hero-view-2',
      template:
        '<h1>Name: {{getName()}}</h1>',
    })
    .Class({
      constructor: function() {
      },
      getName: function() {
        return 'Windstorm';
      }
    });

  app.HeroComponentDsl = HeroComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-io.component.js]" value="(function(app) {
  var ConfirmComponent = ng.core.Component({
    selector: 'my-confirm',
    inputs: [
      'okMsg',
      'notOkMsg: cancelMsg'
    ],
    outputs: [
      'ok',
      'notOk: cancel'
    ],
    template:
      '<button (click)=&quot;onOkClick()&quot;>' +
        '{{okMsg}}' +
      '</button>' +
      '<button (click)=&quot;onNotOkClick()&quot;>' +
        '{{notOkMsg}}' +
      '</button>'
  }).Class({
    constructor: function() {
      this.ok = new ng.core.EventEmitter();
      this.notOk = new ng.core.EventEmitter();
    },
    onOkClick: function() {
      this.ok.next(true);
    },
    onNotOkClick: function() {
      this.notOk.next(true);
    }
  });

  function AppComponent() {
  }
  AppComponent.annotations = [
    new ng.core.Component({
      selector: 'hero-io',
      template: '<my-confirm [okMsg]=&quot;\'OK\'&quot;' +
        '[cancelMsg]=&quot;\'Cancel\'&quot;' +
        '(ok)=&quot;onOk()&quot;' +
        '(cancel)=&quot;onCancel()&quot;>' +
        '</my-confirm>' +
        '<span *ngIf=&quot;okClicked&quot;>OK clicked</span>' +
        '<span *ngIf=&quot;cancelClicked&quot;>Cancel clicked</span>',
      directives: [ConfirmComponent]
    })
  ];
  AppComponent.prototype.onOk = function() {
    this.okClicked = true;
  }
  AppComponent.prototype.onCancel = function() {
    this.cancelClicked = true;
  }
  app.HeroIOComponent = AppComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero-lifecycle.component.js]" value="(function(app) {
  function HeroComponent() {}
  HeroComponent.annotations = [
    new ng.core.Component({
      selector: 'hero-lifecycle',
      template: '<h1>Hero: {{name}}</h1>'
    })
  ];
  HeroComponent.prototype.ngOnInit =
    function() {
      this.name = 'Windstorm';
    };

  app.HeroLifecycleComponent = HeroComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/hero.component.js]" value="(function(app) {

  function HeroComponent() {
    this.title = &quot;Hero Detail&quot;;
  }
  
  HeroComponent.annotations = [
    new ng.core.Component({
      selector: 'hero-view',
      template:
        '<h1>Hero: {{getName()}}</h1>'
    })
  ];
  HeroComponent.prototype.getName =
    function() {return 'Windstorm';};

  app.HeroComponent = HeroComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/heroes-bindings.component.js]" value="(function(app) {

  var HeroesComponent = ng.core.Component({
    selector: 'heroes-bindings',
    template: '<h1 [class.active]=&quot;active&quot;>' +
      'Tour of Heroes' +
    '</h1>',
    host: {
      '[title]': 'title',
      '[class.heading]': 'hClass',
      '(click)': 'clicked()',
      '(dblclick)': 'doubleClicked($event)'
    }
  }).Class({
    constructor: function() {
      this.title = 'Tooltip content';
      this.hClass = true;
    },
    clicked: function() {
      this.active = !this.active;
    },
    doubleClicked: function(evt) {
      this.active = true;
    }
  });
  app.HeroesHostBindingsComponent = HeroesComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/heroes-queries.component.js]" value="(function(app) {

  var ActiveLabelComponent = ng.core.Component({
    selector: 'active-label',
    template: '<span class=&quot;active-label&quot;' +
                    '*ngIf=&quot;active&quot;>' +
      'Active' +
    '</span>'
  }).Class({
    constructor: function() { },
    activate: function() {
      this.active = true;
    }
  });

  var HeroComponent = ng.core.Component({
    selector: 'hero',
    template: '<h2 [class.active]=active>' +
      '{{hero.name}} ' +
      '<ng-content></ng-content>' +
    '</h2>',
    inputs: ['hero'],
    queries: {
      label: new ng.core.ContentChild(
                   ActiveLabelComponent)
    }
  }).Class({
    constructor: function() { },
    activate: function() {
      this.active = true;
      this.label.activate();
    }
  });

  var AppComponent = ng.core.Component({
    selector: 'heroes-queries',
    template:
      '<hero *ngFor=&quot;let hero of heroData&quot;' +
            '[hero]=&quot;hero&quot;>' +
        '<active-label></active-label>' +
      '</hero>' +
      '<button (click)=&quot;activate()&quot;>' +
        'Activate' +
      '</button>',
    directives: [
      HeroComponent,
      ActiveLabelComponent
    ],
    queries: {
      heroCmps: new ng.core.ViewChildren(
                      HeroComponent)
    }
  }).Class({
    constructor: function() {
      this.heroData = [
        {id: 1, name: 'Windstorm'},
        {id: 2, name: 'Superman'}
      ];
    },
    activate: function() {
      this.heroCmps.forEach(function(cmp) {
        cmp.activate();
      });
    }
  });

  app.HeroesQueriesComponent = AppComponent;

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[app/main.js]" value="(function(app) {

  var bootstrap =
    ng.platformBrowserDynamic.bootstrap;
  var LocationStrategy =
    ng.common.LocationStrategy;
  var HashLocationStrategy =
    ng.common.HashLocationStrategy;

  var HeroComponent = app.HeroComponent;

  document.addEventListener('DOMContentLoaded', function() {
    bootstrap(HeroComponent);
    bootstrap(app.HeroComponentDsl);
    bootstrap(app.HeroLifecycleComponent);
    bootstrap(app.HeroDIComponent, [app.DataService]);
    bootstrap(app.HeroDIInlineComponent, [app.DataService]);
    bootstrap(app.HeroDIInjectComponent, [
      { provide: 'heroName', useValue: 'Windstorm' }
    ]);
    bootstrap(app.HeroDIInjectComponent2, [
      { provide: 'heroName', useValue: 'Bombasto' }
    ]);
    bootstrap(app.HeroDIInjectAdditionalComponent);
    bootstrap(app.HeroIOComponent);
    bootstrap(app.HeroesHostBindingsComponent);
    bootstrap(app.HeroesQueriesComponent);
  });

})(window.app = window.app || {});


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[wallaby.js]" value="// Configuration for the Wallaby Visual Studio Code testing extension
// https://marketplace.visualstudio.com/items?itemName=WallabyJs.wallaby-vscode
// Note: Wallaby is not open source and costs money

module.exports = function () {

  return {
    files: [
      // System.js for module loading
      {pattern: 'node_modules/systemjs/dist/system.js', instrument: false},
      {pattern: 'systemjs.config.js', instrument: false},

      // Polyfills
      {pattern: 'node_modules/core-js/client/shim.min.js', instrument: false},

      // Reflect, Zone.js, and test shims
      // Rx.js, Angular 2 itself, and the testing library not here because loaded by systemjs
      {pattern: 'node_modules/reflect-metadata/Reflect.js', instrument: false},
      {pattern: 'node_modules/zone.js/dist/zone.js', instrument: false},
      {pattern: 'node_modules/zone.js/dist/jasmine-patch.js', instrument: false},
      {pattern: 'node_modules/zone.js/dist/async-test.js', instrument: false},
      {pattern: 'node_modules/zone.js/dist/fake-async-test.js', instrument: false},

      {pattern: 'app/**/*+(ts|html|css)', load: false},
      {pattern: 'app/**/*.spec.ts', ignore: true}
    ],

    tests: [
      {pattern: 'app/**/*.spec.ts', load: false}
    ],

    middleware: function (app, express) {
      app.use('/node_modules', express.static(require('path').join(__dirname, 'node_modules')));
    },

    testFramework: 'jasmine',

    debug: true,

    bootstrap: function (wallaby) {
      wallaby.delayStart();

      System.config({
        packageWithIndex: true // sadly, we can't use umd packages (yet?)
      });

      System.import('systemjs.config.js')
        .then(function () {
          return Promise.all([
            System.import('@angular/core/testing'),
            System.import('@angular/platform-browser-dynamic/testing')
          ])
        })
        .then(function (providers) {
          var testing = providers[0];
          var testingBrowser = providers[1];

          testing.setBaseTestProviders(
            testingBrowser.TEST_BROWSER_DYNAMIC_PLATFORM_PROVIDERS,
            testingBrowser.TEST_BROWSER_DYNAMIC_APPLICATION_PROVIDERS);

          // Load all spec files
          return Promise.all(wallaby.tests.map(function (specFile) {
            return System.import(specFile);
          }));
        })
        .then(function () {
          wallaby.start();
        })
        .catch(function (e) {
          setTimeout(function () {
            throw e;
          }, 0);
        });
    }
  };
};


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[styles.css]" value="/* Master Styles */
h1 {
  color: #369; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-family: Arial, Helvetica, sans-serif;   
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
  font-family: Cambria, Georgia; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* { 
  font-family: Arial, Helvetica, sans-serif; 
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/"><input type="hidden" name="files[index.html]" value="<!DOCTYPE html>
<html>
  <head>
    <script>document.write('<base href=&quot;' + document.location + '&quot; />');</script>
    <meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;>
    <link rel=&quot;stylesheet&quot; href=&quot;styles.css&quot;>

    <script src=&quot;https://npmcdn.com/core-js/client/shim.min.js&quot;></script>

    <script src=&quot;https://npmcdn.com/zone.js@0.6.12?main=browser&quot;></script>
    <script src=&quot;https://npmcdn.com/reflect-metadata@0.1.3&quot;></script>

    <script src=&quot;https://npmcdn.com/rxjs@5.0.0-beta.6/bundles/Rx.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/core/core.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/common/common.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/compiler/compiler.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/platform-browser/platform-browser.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/platform-browser-dynamic/platform-browser-dynamic.umd.js&quot;></script>
    <script src=&quot;https://npmcdn.com/@angular/router-deprecated/router-deprecated.umd.js&quot;></script>

    <script src=&quot;app/data.service.js&quot;></script>
    <script src=&quot;app/hero.component.js&quot;></script>
    <script src=&quot;app/hero-dsl.component.js&quot;></script>
    <script src=&quot;app/hero-lifecycle.component.js&quot;></script>
    <script src=&quot;app/hero-io.component.js&quot;></script>
    <script src=&quot;app/hero-di.component.js&quot;></script>
    <script src=&quot;app/hero-di-inline.component.js&quot;></script>
    <script src=&quot;app/hero-di-inject.component.js&quot;></script>
    <script src=&quot;app/hero-di-inject-additional.component.js&quot;></script>
    <script src=&quot;app/heroes-bindings.component.js&quot;></script>
    <script src=&quot;app/heroes-queries.component.js&quot;></script>
    <script src=&quot;app/main.js&quot;></script>
  </head>

  <body>
    <a id=&quot;toc&quot;></a>
    <h1>TypeScript to JavaScript</h1>
    <a href=&quot;#class-metadata&quot;>Classes and Class Metadata</a><br>
    <a href=&quot;#property-metadata&quot;>Input and Output Metadata</a><br>
    <a href=&quot;#dependency-injection&quot;>Dependency Injection</a><br>
    <a href=&quot;#other-property-metadata&quot;>Host and Query Metadata</a><br>

    <hr>
    <h4 id=&quot;class-metadata&quot;>Classes and Class Metadata</h4>
    <hero-view>Loading hero-view...</hero-view>
    <hero-view-2>Loading hero-view2...</hero-view-2>
    <hero-lifecycle>Loading hero-lifecycle...</hero-lifecycle>

    <hr>
    <h4 id=&quot;property-metadata&quot;>Input and Output Metadata</h4>
    <hero-io>Loading hero-io...</hero-io>

    <hr>
    <h4 id=&quot;dependency-injection&quot;>Dependency Injection</h4>
    <hero-di>Loading hero-di...</hero-di>
    <hero-di-inline>Loading hero-di-inline...</hero-di-inline>
    <hero-di-inline2>Loading hero-di-inline2...</hero-di-inline2>
    <hero-di-inject>Loading hero-di-inject...</hero-di-inject>
    <hero-di-inject-additional>Loading hero-di-inject-additional...</hero-di-inject-additional>

    <hr>
    <h4 id=&quot;other-property-metadata&quot;>Host and Query Metadata</h4>
    <heroes-bindings>Loading heroes-bindings...</heroes-bindings>
    <heroes-queries>Loading heroes-queries...</heroes-queries>
  </body>

</html>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->"><input type="hidden" name="tags[0]" value="angular2"><input type="hidden" name="tags[1]" value="example"><input type="hidden" name="tags[2]" value="cookbook"><input type="hidden" name="private" value="true"><input type="hidden" name="description" value="Angular 2 Example - TypeScript to JavaScript"></form><script>document.getElementById("mainForm").submit();</script></body></html>